body {
    background-color: #101010;
}

#wrapper {
    width: 640px;
    margin: 10px auto;
}
nav{
    background-color: white;
    width: 640px;
    padding-bottom: 3px;
}

#defaultBar{
    width: 640px;
    position: relative;
    background-color: #606060;
    height: 10px;
}

#progressBar{
    position: absolute;
    height: 10px;
    background-color: #3498db;
    width: 0px;
}
#playButton{
    background-color: white;
    border: none;
    height: 32px;
    width: 32px;
    background-image: url(./play.png);
    background-repeat: no-repeat;
    background-position: center;
}
#muteButton{
    background-color: white;
    border: none;
    height: 32px;
    width: 32px;
    background-image: url(./speaker.png);
    background-repeat: no-repeat;
    background-position: center;
}

#muteButton:active,#playButton:active {
    position: relative; 
    top:2px;
}